.underscore {
    border-bottom: solid 2px #c1c1c1;
}

.box{
    border: black 1px solid;
    height:200px;
    width: 200px;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 5%;
}

.floatRight {
    float: right;
}

.footerstart{
    margin-top: 3%;
    margin-bottom: 3%;
}

.footerTextPadding{
    padding-top: 3%;
}

.details{
    border-left: solid #c2c2c2 1px;
    border-right: solid #c2c2c2 1px;
}
.pushRight{
    margin-left: 10%;
}
.pushLeft{
    margin-right: 10%;
}

.logo {
    position: relative;
    top: -10px;
}

.pushDown{
    margin-top: 5%;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fa-arrow-circle-o-left{
    color: #40a33f;
}

